@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container">
    <p class="h2">You are not allowed to access this page!</p>

    <div class="d-flex col-12 justify-content-center">
        <img src="https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExaWZqYzBmOTFpMWdxaDkzeDQydGlxOW9oNmhmYmZ5ZDVqNzZ5anhudSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/8L0Pky6C83SzkzU55a/giphy.gif" 
        width="400"
        />
    </div>

</div>